*{
  box-sizing: border-box;
}

.lateral {
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #2abec3;
  position: fixed;
  width: 350px;
  padding: 1em;
}

/*perfil*/

.perfil__circulo{
  width: 50px;
  overflow: hidden;
  height: 50px;
  border-radius: 50%;
  margin:0;
}

.perfil__foto{
  width: 100%;
}

.perfil__nombres{
  color: white;
  font-size: 20px;
  width: 250px;
  margin-left:.5em;
}

.perfil__nombres, .perfil {
  display: inline-block;
  vertical-align: middle;
}

/*informacion*/

.informacion{
  color: #08585b;
  position: absolute;
  bottom: 1em;
}

.informacion__titulo{
  font-size: 18px;
}

/*habilidades*/
.habilidad{
  background-color: #08585b;
  color: white;
  font-size: 12px;
  display: inline-block;
  text-transform: uppercase;
  padding:.5em;
}

.habilidades{
  padding: 0;
}

.habilidad__proyecto{
  background-color: #077ada;
  color: white;
  font-size: 12px;
  display: inline-block;
  text-transform: uppercase;
  padding:.5em;
}
/*proyectos*/

.proyectos{
  margin-left: 350px;
  padding: 1em;
  display: table;
}

.proyecto{
  width: 80%;
}

.proyecto__imagen{
  width: 100%;
}

.row{
  display: table-cell;
}

.proyecto__titulo{
  color: #077ada;
  font-size: 18px;
}
